<clr-main-container>

  <clr-header>
    <div class="branding">
      <a href="#" [routerLink]="['/home']" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Sport Express</span>
      </a>
    </div>

    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="#" [routerLink]="['/products']" routerLinkActive="active">
        <span class="nav-text">Products</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/account/register']" routerLinkActive="active">
        <span class="nav-text">Register</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/account/login']" routerLinkActive="active">
        <span class="nav-text">Login</span>
      </a>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <a href="#" [routerLink]="['/account/profile']" clrDropdownItem>Profile</a>
          <button (click)="openLogOutModal = true;" clrDropdownItem>Log out</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

  <clr-modal [(clrModalOpen)]="openLogOutModal">
      <h3 class="modal-title">Are you sure you want to log out?</h3>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="openLogOutModal = false">No</button>
          <button type="button" class="btn btn-primary" (click)="logout()">Yes</button>
      </div>
  </clr-modal>
</clr-main-container>
